<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appinfo.mapper.appcategory.AppCategoryMapper">

    <!-- 依据父id查询分类列表 -->
    <select id="getCategoryListByParentId" resultType="AppCategory">
        SELECT * FROM `app_category` WHERE
        <if test="parentId!=null">parentId=#{parentId}</if>
        <if test="parentId==null">parentId is null</if>
    </select>
</mapper>