<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appinfo.mapper.appinfo.AppInfoMapper">
	
	<!-- 依据条件查询app信息列表 -->
	<select id="getAppInfoByCondition"  resultType="AppInfo">
		select i.* ,(SELECT d.valueName FROM data_dictionary d WHERE d.typeCode='APP_STATUS' AND d.valueId=i.status) as
		statusName,(SELECT d.valueName FROM data_dictionary d WHERE d.typeCode='APP_FLATFORM' AND d.valueId=i.flatformId) as  flatformName,
		(SELECT c.`categoryName` FROM `app_category` c WHERE  c.id=i.categoryLevel3 ) as categoryLevel3Name,
		(SELECT c.`categoryName` FROM `app_category` c WHERE  c.id=i.categoryLevel2 ) as categoryLevel2Name,
		(SELECT c.`categoryName` FROM `app_category` c WHERE  c.id=i.categoryLevel1 ) as categoryLevel1Name,
		(SELECT v.versionNo FROM `app_version` v WHERE v.`id`=i.versionId) as versionNo from app_info i
		<trim prefix="where" prefixOverrides="and | or">
			<if test="appinfo.softwareName!=null and appinfo.softwareName !=''">and i.softwareName like concat ('%',#{appinfo.softwareName},'%')</if>
			<if test="appinfo.status!=null">and i.status=#{appinfo.status}</if>
			<if test="appinfo.flatformId!=null">and i.flatformId=#{appinfo.flatformId}</if>
			<if test="appinfo.categoryLevel1!=null"> and i.categoryLevel1=#{appinfo.categoryLevel1}</if>
			<if test="appinfo.categoryLevel2!=null"> and i.categoryLevel2=#{appinfo.categoryLevel2}</if>
			<if test="appinfo.categoryLevel3!=null"> and i.categoryLevel3=#{appinfo.categoryLevel3}</if>
			<if test="appinfo.devId!=null">and i.devId=#{appinfo.devId}</if>
		</trim>
		order by i.creationDate desc limit #{startRow},#{pageSize}
	</select>
	
	<!-- 数据库条数 -->
	<select id="count" parameterType="AppInfo" resultType="int">
		select count(*) from app_info  
		<trim prefix="where" prefixOverrides="and | or">
			<if test="softwareName!=null and softwareName !=''">and softwareName like concat ('%',#{softwareName},'%')</if>
			<if test="status!=null">and status=#{status}</if>
			<if test="flatformId!=null">and flatformId=#{flatformId}</if>
			<if test="categoryLevel1!=null"> and categoryLevel1=#{categoryLevel1}</if>
			<if test="categoryLevel2!=null"> and categoryLevel2=#{categoryLevel2}</if>
			<if test="categoryLevel3!=null"> and categoryLevel3=#{categoryLevel3}</if>
			<if test="devId!=null">and devId=#{devId}</if>
		</trim>
	</select>
	
	<!-- 重名验证APKName -->
	<select id="findByAPKName" resultType="int">
		SELECT COUNT(*) FROM `app_info` WHERE APKName=#{APKName} 
	</select>
	
	<!-- 新增app信息 -->
	<insert id="addAppinfo" parameterType="AppInfo">
		insert into app_info(softwareName,APKName,supportROM,interfaceLanguage,softwareSize,downloads,flatformId,
		categoryLevel1,categoryLevel2,categoryLevel3,status,appInfo,logoPicPath,logoLocPath,createdBy,creationDate,devId)
		values(#{softwareName},#{aPKName},#{supportROM},#{interfaceLanguage},#{softwareSize},#{downloads},#{flatformId},
		#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{status},#{appInfo},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate},#{devId})
	</insert>
	
	<!--依据id查询详情 -->
	<select id="findById" resultType="AppInfo">
	select i.* ,(SELECT d.valueName FROM data_dictionary d WHERE d.typeCode='APP_STATUS' AND d.valueId=i.status) as
		statusName,(SELECT d.valueName FROM data_dictionary d WHERE d.typeCode='APP_FLATFORM' AND d.valueId=i.flatformId) as  flatformName,
		(SELECT c.`categoryName` FROM `app_category` c WHERE  c.id=i.categoryLevel3 ) as categoryLevel3Name,
		(SELECT c.`categoryName` FROM `app_category` c WHERE  c.id=i.categoryLevel2 ) as categoryLevel2Name,
		(SELECT c.`categoryName` FROM `app_category` c WHERE  c.id=i.categoryLevel1 ) as categoryLevel1Name,
		(SELECT v.versionNo FROM `app_version` v WHERE v.`id`=i.versionId) as versionNo from app_info i where i.id=#{id}
		</select>
		<update id="updateAppinfo" parameterType="AppInfo">
			update app_info 

<trim suffix="where id=#{id}" suffixOverrides="," prefix="set">

<if test="softwareName != null">softwareName=#{softwareName},</if>
<if test="supportROM != null">supportROM=#{supportROM},</if>
<if test="interfaceLanguage != null">interfaceLanguage=#{interfaceLanguage},</if>
<if test="updateDate != null">updateDate=#{updateDate},</if>
<if test="softwareSize != null">softwareSize=#{softwareSize},</if>
<if test="appInfo != null">appInfo=#{appInfo},</if>
<if test="status != null">status=#{status},</if>
<if test="onSaleDate != null">onSaleDate=#{onSaleDate},</if>
<if test="offSaleDate != null">offSaleDate=#{offSaleDate},</if>
<if test="categoryLevel1 != null">categoryLevel1=#{categoryLevel1},</if>
<if test="categoryLevel2 != null">categoryLevel2=#{categoryLevel2},</if>
<if test="categoryLevel3 != null">categoryLevel3=#{categoryLevel3},</if>
<if test="downloads != null">downloads=#{downloads},</if>
<if test="flatformId != null">flatformId=#{flatformId},</if>
<if test="logoPicPath != null">logoPicPath=#{logoPicPath},</if>
<if test="logoLocPath != null">logoLocPath=#{logoLocPath},</if>
<if test="modifyBy != null">modifyBy=#{modifyBy},</if>
<if test="modifyDate != null">modifyDate=#{modifyDate},</if>
</trim>
		</update>
		
		<update id="updateAppversion" parameterType="AppInfo">
			update app_info set versionId=#{versionId},
				modifyBy=#{modifyBy},
				modifyDate=#{modifyDate}
			 where id = #{id} 
		</update>
		
		<delete id="deleteAppinfo">
			delete from app_info where id=#{id}
		</delete>
		
		<update id="setStatus" >
			update app_info set status=#{status} where id=#{id}
		</update>
		
		<update id="delImg">
			update app_info set logoPicPath=null,logoLocPath=null where id=#{id}
		</update>
</mapper>	