<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>开发者登录</title>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">


    <link rel="stylesheet" type="text/css" href="../../statics/lib/layui/css/layui.css"/>
    <script type="text/javascript" charset="utf-8" src="../../statics/lib/layui/layui.js"></script>
    <script type="text/javascript" src="../../statics/js/xadmin.js"></script>
    <link rel="shortcut icon" href="../../statics/favicon.ico" type="image/x-icon"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../statics/css/font.css">
    <link rel="stylesheet" href="../../statics/css/xadmin.css">
    <script type="text/javascript" src="../../statics/js/jquery-1.8.3.js"></script>

</head>

<body class="login-bg">


<div class="login">
    <div class="message">
        APP开发者平台
    </div>
    <div id="darkbannerwrap"></div>

    <form action="" class="layui-form">
        <input name="devCode" placeholder="请输入用户名" type="text" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="devPassword" lay-verify="required" placeholder="请输入密码" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>


</div>
<script>

</script>
</body>
<script src="../../statics/js/common.js"></script>
<script src="../../statics/js/dev/devlogin.js"></script>
</html>
