/*
      layui table 填写数据内容过多，自动换行完美解决
   */
.layui-table-cell {
    font-size: 14px;
    padding: 0 5px;
    height: auto;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    word-break: break-all;
}
